/********Color*********/
$base: #000000;
$white: #fff;
$light-white: #b0b0b0;
$purple:#8b37f7;
$gray: #9c9c9c;
$dark-grey:#4e4e4e;
$light-gray:#676767;
$light-black: #272727;
$dark-black: #0a0a0a;
$heading-black: #4d4d4d;
$red: #ff1212;
$blue: #2497f3;
$light-red:#fb7072;
$bg-purple: #9539c3;
$bg-white:#f2f1ff;
$gradient-primary:linear-gradient(90deg, rgba(61,96,253,1) 0%, rgba(95,89,243,1) 33%, rgba(123,85,237,1) 65%, rgba(129,85,235,1) 99%);
$gradient-secondary:linear-gradient(80deg, rgba(182,73,222,1) 0%, rgba(182,73,222,1) 0%, rgba(251,112,114,1) 21%, rgba(251,112,114,1) 99%);

$web-font-family: 'Roboto', sans-serif;
/********Common Radius*********/
$input-radius: 7px;
$box-radius:10px;
$oval-radius: 100px;
$circle-radius: 50%;

/********Box Shadow*********/
$shadow:0 3px 13px 0px rgb(0 0 0 / 9%);

